.slider-Home-Container{
    padding: 1rem;
}
.slider{
    border-radius: 5px;
}
.slider div {
    display: flex;
    padding: 1rem;
}
.box-slider-home {
    background-color: #000;
    border-radius: 20px;
}
.box-slider-home img {
    max-width: 100%;
    border-radius: 5px;
    padding: 0;
}

.box-slider-home:hover {
    transform: translateY(5px);
}

